.sidebar {
  position: relative;
  flex: 1;
  height: 100vh;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 10;
  padding: 16px;
}

.menuItems {
  padding-left: 16px;
  li {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.1px;
  }
}

.logo {
  width: 125px;
  height: 37px;
  margin-bottom: 25px;
}

.menu {
  margin-bottom: 20px;
  &::after {
    content: '';
    position: absolute;
    border-bottom: 1px solid #e5e5e5;
    width: 100%;
    left: 0;
    margin-top: 20px;
  }
}

.settings {
  padding-top: 10px;
}

.logout {
  text-decoration: none;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 10px;
  box-shadow: 0 0 40px 40px #3a3237 inset, 0 0 0 0 #8f8a8d;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
  transition: 0.15s ease-in-out;

  &:hover {
    box-shadow: 0 0 10px 0 #df5b5b inset, 0 0 10px 4px #db3535;
    color: #221f21;
  }
}
