@import '/src/styles/variables/colors';

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  scroll-behavior: unset;
  animation-duration: 0.48s;
  animation-timing-function: ease-out;
}

.active {
  pointer-events: visibleStroke;
  overflow-y: hidden;
  text-align: center;
  animation-name: showModal;
}

.modal_content {
  background-color: $color__white;
  width: 450px;
  box-sizing: border-box;
  position: absolute;
  padding: 24px;

  @media (max-width: 576px) {
    width: 330px;
    padding: 12px;
  }
}

.btn_close {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-100%, 50%);
  cursor: pointer;
}

@keyframes showModal {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal_container {
  padding: 0 24px;
}

.title {
  font-size: 24px;
  line-height: 150%;
  margin-bottom: 24px;

  @media (max-width: 576px) {
    font-size: 18px;
    line-height: 100%;
    margin-bottom: 18px;
  }
}

.row {
  display: flex;

  @media (max-width: 576px) {
    display: block;
  }
}

.input_name {
  margin-right: 24px;

  @media (max-width: 576px) {
    margin-right: 0;
  }
}

.input_name input {
  width: 200px;

  @media (max-width: 576px) {
    width: 100%;
  }
}

.input_price {
  position: relative;
  @media (max-width: 576px) {
  }
}

label {
  display: block;
  text-align: left;
  font-size: 14px;
  line-height: 20px;
}

.input {
  border: 1px solid #dedede;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  color: #0e0c0c;
  padding: 14px 16px;
  margin: 12px 0 30px;
  width: 100%;

  &::placeholder {
    color: #8f8f8f;
  }
}

.price {
  display: flex;
  align-items: baseline;
  font-weight: bold;
  position: absolute;
  top: 48px;
  right: -15px;

  @media (max-width: 576px) {
    bottom: 0;
  }
}

.control {
  display: flex;
  justify-content: center;
}

.control button {
  margin: 0 12px;
}

.btn_cancel input {
  color: $color__font;
  background: none;
  cursor: pointer;
}

.btn_cancel input:hover {
  background: none !important;
  color: #4084ff;
}

.btn_save {
  height: 50px;
}

.shareModal {
  margin: 0 12px 24px;
  width: -webkit-fill-available;
}

.social_icons {
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.social_icons .icon {
  cursor: pointer;
  margin: 0 16px;
}

.icon {
  background-color: #f1f1f1;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copy {
  display: flex;
  align-items: baseline;
}

.copy .input {
  border-radius: 5px 0 0 5px;
  display: flex;
  flex-direction: column;
}

.input_link input:focus {
  outline: -2px solid black;
  border-radius: 5px 0 0 5px;
}

.btn_copy input {
  height: 50px;
  border-radius: 0 5px 5px 0;
}
