.selector {
  border: 1px solid #dedede;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 14px;
  line-height: 20px;
  color: #0e0c0c;
  padding: 14px 16px;
  margin: 12px 0 30px;
  width: 100%;
}

.option {
  background: #ffffff; color: #0e0c0c
}
