@import '/src/styles/variables/colors';

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 7rem;
  padding: 1rem 0;
  border-bottom: 1px solid rgba($color: #000, $alpha: 0.1);

  &__left {
    display: flex;
    height: 100%;
    gap: 1rem;
    align-items: center;
  }
}

.img {
  width: 7rem;
  height: 100%;
  object-fit: cover;
}

.gift {
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  appearance: none;
}
