.container {
  display: flex;
  font-size: 14px;
  line-height: 150%;

  :first-child {
    font-weight: 700;
    margin-right: 10px;
  }
  :last-child {
    opacity: 0.34;
  }
}

.tab_name {
  text-transform: capitalize;
}
