@import '../common/helpers.scss';

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #e5e5e5;
}

.form {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
  padding: 24px;
  background: #fff;
  border-radius: 16px;
}

.auth {
  display: flex;
  justify-content: space-evenly;
}

.spacer {
  display: flex;
  justify-content: center;
  align-items: center;

  span {
    padding: 0 20px;
  }

  hr {
    width: 100%;
    height: 1px;
    border: none;
    background-color: #F3F4F4;
  }
}

.modal {
  position: relative;
  top: 50%;
  width: 490px;
  margin: 0 auto;
  transform: translateY(-50%);

  @media (max-width: 768px) {
    width: 95%;
  }
}

.input {
  width: 100%;
  height: 45px;
  padding: 16px;
  color: #171a28;
  font-size: 14px;
  line-height: 20px;
  background: #e8f0fe;
  border: 1px solid #dedede;
  border-radius: 4px;
  outline: none;
}

.helpersBlock {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 25px;
}

.rememberBlock {
  display: flex;
  align-items: center;
  flex-grow: 6;

  @media (max-width: 360px) {
    justify-content: space-between;
  }
}

.forgot {
  flex-grow: 1;
  margin-left: 5px;
  color: #8f8f8f;
  font-weight: normal;
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
  text-align: end;
  user-select: none;
  cursor: pointer;
}

.checkbox {
  display: block;
  width: 24px;
  height: 24px;
  color: #f3f4f4;
  border: 2px solid #f3f4f4;
  border-radius: 4px;
  cursor: pointer;
}

.activeCheckbox {
  background: no-repeat url('../../assets/svg/check.svg') center;
}

.remember {
  color: #1c1d21;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin-left: 12px;
  cursor: pointer;
}

.title {
  margin: 15px 0;
  color: #1c1d21;
  font-weight: bold;
  font-size: 24px;
  font-style: normal;
  text-align: center;
}

.inputWrapper {
  position: relative;
  margin-bottom: 15px;
  padding-top: 15px;
}

.showPass {
  position: absolute;
  top: 48%;
  right: 16px;
}

.loginLink {
  color: #606060;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
}

.navLink {
  color: #606060;
  text-decoration: none;
  padding-bottom: 1px;
  border-bottom: 1px solid #606060;
}

.error {
  position: absolute;
  color: #d41f1f;
  font-size: 14px;
  transform: translateY(-110%);
}

.language {
  position: absolute;
  right: 1%;
  top: 2%;
}

.privacyLink {
  @include privacyLink;
}
