@import '/src/styles/variables/colors';

.container {
  position: relative;
  flex-direction: column;
  width: 100%;
  padding: 16px 24px;
  background: $color__white;
  &__top {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 0 0.5rem 0;
  }

  &__middle {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin: 0 0 1.5rem 0;
    padding: 0.75rem 0;
    border-bottom: 1px solid rgba($color: #000, $alpha: 0.1);

    @media (max-width: 576px) {
      align-items: unset;
      flex-direction: column-reverse;
    }
  }

  &__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem 0;
    column-gap: 15px;
    justify-content: space-between;
  }

  &__list {
    display: flex;
    flex-direction: column;
  }
}

.header {
  display: flex;
  justify-content: space-between;
}

.tabs span {
  margin-right: 24px;
  cursor: pointer;
}

.tabs {
  @media (max-width: 576px) {
    margin-top: 24px;
  }
}

.tab {
  padding-bottom: 5px;
}

.activeTab {
  padding-bottom: 10px;
  border-bottom: 2px solid black;
  transition: 0.2s;
  font-weight: bold;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__pic {
    margin: 0 0 1rem 0;
    object-position: center;
  }

  &__name {
    margin: 0 0 0.25rem 0;
    font-weight: 700;
    font-size: 1.5rem;
  }
}

.button {
  display: flex;
  padding: 0.5rem 1rem;
  color: inherit;
  align-items: center;
  font-size: 1rem;
  background: rgba($color: #000, $alpha: 0.07);
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  gap: 0.25rem;

  &__icon {
    width: 1rem;
    height: 1rem;
  }
}
.confirm {
  color: rgb(221, 30, 30);
  font-weight: bold;
  margin-top: 2px;
  opacity: 0.7;
  animation: confirm 1s linear;
}

@keyframes confirm {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  0% {
    transform: scale(1);
  }
}
