@import '../../components/common/helpers.scss';

.pageWrapper {
  background: #ffffff;
  padding: 20px 25px;
}

.logo {
  width: 125px;
  height: 37px;
  margin-bottom: 70px;
}

.settings {
  width: 590px;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 10px;

  @media (max-width: $tablet) {
    width: 100%;
  }
}

.verification {
  margin-bottom: 30px;
  font-weight: bold;
  color: rgb(219, 11, 11);
  opacity: 0.7;

  span {
    color: initial;
    border-bottom: 1px dashed;
  }
}

.iconBlock {
  width: max-content;
  display: flex;
  column-gap: 35px;
  align-items: center;
  margin-bottom: 30px;
  span {
    margin-left: 5px;
    font-size: 12px;
  }

  @media (max-width: $mobile) {
    width: 100%;
    justify-content: space-between;
  }
}

.sectionName {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
  color: #1c1d21;
  display: flex;
  align-items: center;
  margin-bottom: 30px;

  // &::after {
  //   content: '';
  //   opacity: 0.6;
  //   flex: 1;
  //   margin-left: 15px;
  //   border-bottom: 1px solid #3a414e;
  // }
}

.section {
  display: flex;
  flex-direction: column;

  label {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #1c1d21;
    margin-bottom: 8px;
  }

  input,
  textarea,
  select {
    border: 1px solid #dedede;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    color: #0e0c0c;
    padding: 14px 16px;
    margin-bottom: 30px;

    &::placeholder {
      color: #8f8f8f;
    }
  }

  input + .ulr {
    margin-bottom: 10px;
  }

  textarea {
    resize: none;
  }

  .userName {
    margin-bottom: 10px;
  }
}

.datePicker {
  width: 100%;
}

.url {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 150%;
  color: #000000;
  opacity: 0.3;
  margin-bottom: 25px;
}

.selectors {
  display: flex;
  justify-content: space-between;
  div {
    display: flex;
    flex-direction: column;
    width: 280px;
  }

  select {
    background: #ffffff;
    color: #000000;
    -webkit-appearance: none;
    -moz-appearance: none;
    display: block;
    appearance: none;
  }
  .selectorCuret {
    position: relative;
    :after {
      content: '';
      position: absolute;
      background-image: url('../../assets/svg/arrow_down.svg');
      background-repeat: no-repeat;
      display: block;
      width: 15px;
      height: 10px;
      top: 50%;
      transform: translateY(-50%);
      right: 15px;
    }
  }

  @media (max-width: $tablet) {
    flex-direction: column;

    div {
      width: 100%;
    }
  }
}

.password {
  input {
    border: 1px solid #dedede;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    color: #0e0c0c;
    padding: 14px 16px;
    margin-bottom: 30px;
  }
}

.buttonsBlock {
  display: flex;
  justify-content: center;

  // :first-child {
  //   margin-right: 15px;
  // }

  .sendFormBtn {
    @media (max-width: $tablet) {
      width: 100%;
    }
  }
}

.deleteButton {
  background: rgb(255, 255, 255);
  color: #3a414e;

  &:hover {
    background-color: rgb(216, 58, 58) !important;
    color: rgb(236, 230, 217);
  }
}

.uploadBox {
  cursor: pointer;

  label {
    display: block;
    background: #3a414e;
    border-radius: 4px;
    width: 216px;
    padding: 12px 22px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;

    @media (max-width: $mobile) {
      width: 150px;
    }
  }
}

// input[type=file], /* FF, IE7+, chrome (except button) */
// input[type=file]::-webkit-file-upload-button {
//   /* chromes and blink button */
//   cursor: pointer;
// }

.uploadInput {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.error {
  position: relative;
  color: #d41f1f;
  font-size: 14px;
  top: -25px;
}

.requiredFields {
  font-size: 14px;
  line-height: 20px;
  color: #da2020;
  margin-bottom: 2px;
}
