@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import '/src/styles/variables/colors';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

html {
  margin-left: calc(100vw - 100%);
  margin-right: 0;
}

body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color__font;
}

.main-wrapper {
  margin: 0 auto;
  max-width: 1280px;
  padding: 16px 24px;
}

a {
  text-decoration: none;
  width: 100%;
  color: $color__font;
}

a:visited {
  color: $color__font;
}
