@import-normalize;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import '/src/styles/variables/colors';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $color__font;
}

.main-wrapper {
  margin: 0 auto;
  max-width: 1280px;
}

a {
  text-decoration: none;
  width: 100%;
}

a:visited {
  color: $color__font;
}

.change__lang {
  display: flex;
  justify-content: flex-end;
  margin: 20px;
  z-index: 2;
  position: relative;

  button {
    padding: 5px;
    border: 1px solid black;
    font: inherit;
    color: inherit;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    width: 30px;
    height: 20px;
    margin: 0.5px;
    box-shadow: 1px 2px 5px rgb(59, 49, 49);

    &:first-child {
      background-image: url('../assets/png/Ukrainian.png');
      background-size: cover;
    }
    &:last-child {
      background-image: url('../assets/png/usa.png');
      background-size: cover;
    }
  }
}
