@import '/src/styles/variables/colors';

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 17.5rem;
  height: 15rem;
  padding: 1rem;
  flex-grow: 1;
  overflow: hidden;
  background: $color__loading-placeholder;
  border-radius: 0.5rem;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  user-select: none;
  pointer-events: none;
}

.top {
  z-index: 1;
  display: flex;
  justify-content: flex-end;
}

.bottom {
  z-index: 1;
  display: flex;
  padding: 0.5rem;
  background: $color__white;
  border-radius: 2px;
  justify-content: space-between;
  column-gap: 5px;
  max-width: 280px;
}

.price {
  border-radius: 10px;
  background-color: #129712;
  border: 1px solid rgb(60, 57, 216);

  a {
    text-decoration: none;
    color: $color__font;
    font-size: 14px;
    font-weight: 500;
    padding: 3px;
    vertical-align: middle;
  }
}

.gift {
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  appearance: none;
}
